<div class="login-view" ng-show="user.status==-1">
    <div class="panel center-block login-panel">
        <div class="panel-title text-center">登录</div>
        <div class="panel-container">
            <input type="text" class="form-control" placeholder="用户名" ng-model="login_name"/>
            <input type="password" class="form-control" placeholder="密码" ng-model="login_password"/>
            <button type="button" class="btn btn-primary" ng-click="login()">登录</button>
        </div>
    </div>
</div>